# <img style="float: left; padding: 0px 10px 0px 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"  width="80" /> IMT 2200 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Semestre 2022-2**<br>
**Profesora:** Paula Aguirre <br>

## Electoral Crypto World fluctuation. (Bitcoin)

---

In [1]:
import pandas as pd

Data-frame bitcoin:

In [2]:
df = pd.read_csv("historico_del_bitcoin.csv")
df

           Fecha    Último  Apertura    Máximo    Mínimo     Vol.  % var.
0     13.10.2022  19.379,8  19.154,6  19.494,4  18.207,9  455,13K   1,17%
1     12.10.2022  19.154,8  19.058,5  19.212,6  19.010,6  242,18K   0,50%
2     11.10.2022  19.059,1  19.134,3  19.261,3  18.868,7  288,57K  -0,39%
3     10.10.2022  19.134,6  19.441,7  19.520,7  19.057,0  243,77K  -1,58%
4     09.10.2022  19.441,0  19.416,3  19.552,1  19.329,6  127,53K   0,13%
...          ...       ...       ...       ...       ...      ...     ...
4466  22.07.2010       0,1       0,1       0,1       0,1    2,16K   0,00%
4467  21.07.2010       0,1       0,1       0,1       0,1    0,58K   0,00%
4468  20.07.2010       0,1       0,1       0,1       0,1    0,26K   0,00%
4469  19.07.2010       0,1       0,1       0,1       0,1    0,57K   0,00%
4470  18.07.2010       0,1       0,0       0,1       0,1    0,08K   0,00%

[4471 rows x 7 columns]