# <img style="float: left; padding: 0px 10px 0px 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"  width="80" /> IMT 2200 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Semestre 2022-2**<br>
**Profesora:** Paula Aguirre <br>

## Electoral Crypto World fluctuation. (Bitcoin)

---

In [1]:
import pandas as pd

Data-frame bitcoin:

In [2]:
btc = pd.read_csv("divisas\BTC_USD Bitfinex Historical Data.csv")
cny = pd.read_csv("divisas\CNY_USD Historical Data.csv")
clp = pd.read_csv("divisas\Datos históricos CLP_USD.csv")
eur = pd.read_csv("divisas\EUR_USD Historical Data.csv")
gbp = pd.read_csv("divisas\GBP_USD Historical Data.csv")
jpy = pd.read_csv("divisas\JPY_USD Historical Data.csv")

In [7]:
div = [btc, cny, clp, eur, gbp, jpy]
for d in div:
    print(d["Price"])

0       16,739.0
1       16,634.0
2       16,705.0
3       16,531.0
4       16,886.0
          ...
3935         5.4
3936         5.7
3937         5.9
3938         6.0
3939         6.1
Name: Price, Length: 3940, dtype: object
0       0.1405
1       0.1397
2       0.1410
3       0.1419
4       0.1413
         ...
3356    0.1465
3357    0.1465
3358    0.1465
3359    0.1464
3360    0.1465
Name: Price, Length: 3361, dtype: float64

KeyError: 'Price'

In [ ]:
eur.head()

         Date   Price    Open    High     Low     Vol. Change %
0  11/18/2022  1.0324  1.0370  1.0396  1.0313   95.10K   -0.38%
1  11/17/2022  1.0364  1.0390  1.0407  1.0305   98.80K   -0.27%
2  11/16/2022  1.0392  1.0349  1.0439  1.0330  103.83K    0.43%
3  11/15/2022  1.0348  1.0325  1.0481  1.0280  104.61K    0.22%
4  11/14/2022  1.0325  1.0366  1.0368  1.0271  103.34K   -0.26%

In [ ]:
btc.head()

         Date     Price      Open      High       Low   Vol. Change %
0  11/19/2022  16,739.0  16,645.0  16,811.0  16,600.0  0.78K    0.63%
1  11/18/2022  16,634.0  16,827.0  16,837.0  16,550.0  1.81K   -0.43%
2  11/17/2022  16,705.0  16,676.0  16,735.0  16,413.0  1.48K    1.05%
3  11/16/2022  16,531.0  16,886.0  17,002.0  16,384.0  4.34K   -2.10%
4  11/15/2022  16,886.0  16,627.0  17,124.0  16,554.0  6.53K    1.56%

In [ ]:
eur.merge(btc, on="Date")
eur.sort_values(by="Date")

            Date   Price    Open    High     Low    Vol. Change %
3360  01/01/2010  1.4326  1.4328  1.4330  1.4322     NaN    0.06%
2578  01/01/2013  1.3205  1.3194  1.3220  1.3180     NaN    0.07%
2317  01/01/2014  1.3754  1.3742  1.3769  1.3742     NaN    0.06%
2056  01/01/2015  1.2104  1.2100  1.2107  1.2094     NaN    0.05%
1795  01/01/2016  1.0860  1.0862  1.0869  1.0845     NaN   -0.01%
...          ...     ...     ...     ...     ...     ...      ...
1796  12/31/2015  1.0861  1.0932  1.0938  1.0850     NaN   -0.65%
1014  12/31/2018  1.1470  1.1443  1.1470  1.1421     NaN    0.28%
753   12/31/2019  1.1210  1.1198  1.1240  1.1198  43.32K    0.12%
491   12/31/2020  1.2213  1.2298  1.2310  1.2209  89.06K   -0.67%
230   12/31/2021  1.1368  1.1324  1.1387  1.1302  25.72K    0.40%

[3361 rows x 7 columns]